{
    "catalog_database_type": "{{ _icat.catalog_database_type }}",
    "db_host": "{{ _icat.db_host }}",
    "db_name": "{{ _icat.db_name }}",
    "db_odbc_type": "{{ _icat.db_odbc_type }}",
    "db_password": "{{ _icat.db_password }}",
    "db_port": {{ _icat.db_port }},
    "db_username": "{{ _icat.db_username }}"
}
