{
  "catalog_database_type": "{{ _irods_cfg_icat.catalog_database_type }}",
  "db_host": "{{ _irods_cfg_icat.db_host }}",
  "db_name": "{{ _irods_cfg_icat.db_name }}",
  "db_odbc_type": "{{ _irods_cfg_icat.db_odbc_type }}",
  "db_password": "{{ _irods_cfg_icat.db_password }}",
  "db_port": {{ _irods_cfg_icat.db_port }},
  "db_username": "{{ _irods_cfg_icat.db_username }}"
}
