{% import 'server_config_macros.j2' as sc with context %}
{
    "access_entries": {{ sc.access_entries() | string | indent(4) }},
    "schema_name": "host_access_control_config",
    "schema_version": "v3"
}
