{
  "access_entries": [
{% for entry in _access_entries %}
    {
      "address": "{{ entry.address }}",
      "group": "{{ entry.group }}",
      "mask": "{{ entry.mask }}",
      "user": "{{ entry.user }}"
    }
{%-  if not loop.last %},
{%   else %}

{%   endif %}
{% endfor %}
  ]
}
