{
  "advanced_settings": {
{% for setting
   in [
     { "name": "default_number_of_transfer_threads",                        "value": irods_server_cfg_default_number_of_transfer_threads },
     { "name": "default_temporary_password_lifetime_in_seconds",            "value": irods_server_cfg_default_temporary_password_lifetime },
     { "name": "maximum_number_of_concurrent_rule_engine_server_processes", "value": irods_server_cfg_maximum_number_of_concurrent_rule_engine_server_processes },
     { "name": "maximum_size_for_single_buffer_in_megabytes",               "value": irods_server_cfg_maximum_size_for_single_buffer },
     { "name": "maximum_temporary_password_lifetime_in_seconds",            "value": irods_server_cfg_maximum_temporary_password_lifetime },
     { "name": "transfer_buffer_size_for_parallel_transfer_in_megabytes",   "value": irods_server_cfg_transfer_buffer_size_for_parallel_transfer },
     { "name": "transfer_chunk_size_for_parallel_transfer_in_megabytes",    "value": irods_server_cfg_transfer_chunk_size_for_parallel_transfer }
   ] | selectattr("value") %}
    "{{ setting.name }}": {{ setting.value }}{% if not loop.last %},{% endif %}
{% endfor %}
  },
  "default_dir_mode": "{{ irods_server_cfg_default_dir_mode }}",
  "default_file_mode": "{{ irods_server_cfg_default_file_mode }}",
  "default_hash_scheme": "{{ irods_server_cfg_default_hash_scheme }}",
{% if irods_server_cfg_default_resource_directory %}
  "default_resource_directory": "{{ irods_server_cfg_default_resource_directory }}",
{% endif %}
{% if irods_server_cfg_default_resource_name %}
  "default_resource_name": "{{ irods_server_cfg_default_resource_name }}",
{% endif %}
  "environment_variables": [
{% for key, value in irods_server_cfg_environment_variables.iteritems() %}
    "{{ key }}={{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
  ],
  "federation": [
{% for federate in irods_server_cfg_federation %}
    {
      "icat_host": "{{ federate.icat_host }}",
      "zone_name": "{{ federate.zone_name }}",
      "zone_key": "{{ federate.zone_key }}",
      "negotiation_key": "{{ federate.negotiation_key }}"
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ],
  "icat_host": "{{ irods_server_cfg_icat_host }}",
{% if irods_server_cfg_kerberos_name %}
  "kerberos_name": "{{ irods_server_cfg_1kerberos_name }}",
{% endif %}
  "match_hash_policy": "{{ irods_server_cfg_match_hash_policy }}",
  "negotiation_key": "{{ irods_server_cfg_negotiation_key }}",
{% if irods_server_cfg_pam_no_extend %}
  "pam_no_extend": {{ irods_server_cfg_pam_no_extend }},
{% endif %}
{% if irods_server_cfg_pam_password_length or irods_server_cfg_pam_password_length == 0 %}
  "pam_password_length": {{ irods_server_cfg_pam_password_length }},
{% endif %}
{% if irods_server_cfg_pam_password_max_time or irods_server_cfg_pam_password_max_time == 0 %}
  "pam_password_max_time": {{ irods_server_cfg_pam_password_max_time }},
{% endif %}
{% if irods_server_cfg_pam_password_min_time or irods_server_cfg_pam_password_min_time == 0 %}
  "pam_password_min_time": {{ irods_server_cfg_pam_password_min_time }},
{% endif %}
  "re_data_variable_mapping_set": [
{% for mapping in irods_server_cfg_re_additional_data_variable_mappings %}
    { "filename": "{{ mapping }}" },
{% endfor %}
    { "filename": "core" }
  ],
  "re_function_name_mapping_set": [
{% for mapping in irods_server_cfg_re_additional_function_name_mappings %}
    { "filename": "{{ mapping }}" },
{% endfor %}
    { "filename": "core" }
  ],
  "re_rulebase_set": [
{% for rulebase in irods_server_cfg_re_additional_rulebases %}
    { "filename": "{{ rulebase }}" },
{% endfor %}
    { "filename": "core" }
  ],
  "schema_validation_base_uri": "{{ irods_server_cfg_schema_validation_base_uri }}",
  "server_control_plane_encryption_algorithm": "{{ irods_server_cfg_server_control_plane_encryption_algorithm }}",
  "server_control_plane_encryption_num_hash_rounds": {{ irods_server_cfg_server_control_plane_encryption_num_hash_rounds }},
  "server_control_plane_key": "{{ irods_server_cfg_server_control_plane_key }}",
  "server_control_plane_port": {{ irods_server_cfg_server_control_plane_port }},
  "server_control_plane_timeout_milliseconds": {{ irods_server_cfg_server_control_plane_timeout }},
  "server_port_range_end": {{ irods_server_cfg_server_port_range_end }},
  "server_port_range_start": {{ irods_server_cfg_server_port_range_start }},
{% if irods_server_cfg_xmsg_port %}
  "xmsg_port": {{ irods_server_cfg_xmsg_port }},
{% endif %}
  "zone_auth_scheme": "{{ irods_server_cfg_zone_auth_scheme }}",
  "zone_key": "{{ irods_server_cfg_zone_key }}",
  "zone_name": "{{ irods_server_cfg_zone_name }}",
  "zone_port": {{ irods_server_cfg_zone_port }},
  "zone_user": "{{ irods_server_cfg_zone_user }}"
}
