{% import 'server_config_macros.j2' as sc with context %}
{
    "advanced_settings": {{ sc.advanced_settings() | string | indent }},
    "catalog_provider_hosts": {{
        sc.mk_catalog_provider_hosts(_catalog_provider_hosts) | string | indent }},
    "catalog_service_role": "{{ _catalog_service_role }}",
    "client_api_allowlist_policy": "enforce",
    "controlled_user_connection_list": {
      "control_type": "denylist",
      "users": []
    },
    "default_dir_mode": "{{ _default_dir_mode }}",
    "default_file_mode": "{{ _default_file_mode }}",
    "default_hash_scheme": "{{ _default_hash_scheme }}",
{% if _default_resource_directory %}
    "default_resource_directory": "{{ _default_resource_directory }}",
{% endif %}
{% if _default_resource_name %}
    "default_resource_name": "{{ _default_resource_name }}",
{% else %}
    "default_resource_name": null,
{% endif %}
    "environment_variables": {{ sc.environment_variables() | string | indent }},
    "federation": {{ sc.federation() | string | indent }},
    "host_access_control": {
        "access_entries": {{ sc.access_entries() | string | indent(4) }}
    },
    "host_resolution": {
        "host_entries": []
    },
    "log_level": {
        "agent": "{{ irods_cfg_log_level | default('info') }}",
        "agent_factory": "{{ irods_cfg_log_level | default('info') }}",
        "api": "{{ irods_cfg_log_level | default('info') }}",
        "authentication": "{{ irods_cfg_log_level | default('info') }}",
        "database": "{{ irods_cfg_log_level | default('info') }}",
        "delay_server": "{{ irods_cfg_log_level | default('info') }}",
        "legacy": "{{ irods_cfg_log_level | default('info') }}",
        "microservice": "{{ irods_cfg_log_level | default('info') }}",
        "network": "{{ irods_cfg_log_level | default('info') }}",
        "resource": "{{ irods_cfg_log_level | default('info') }}",
        "rule_engine": "{{ irods_cfg_log_level | default('info') }}",
        "server": "{{ irods_cfg_log_level | default('info') }}",
        "sql": "{{ irods_cfg_log_level | default('info') }}"
    },
{% if _kerberos_name %}
    "kerberos_name": "{{ _kerberos_name }}",
{% endif %}
    "match_hash_policy": "{{ _match_hash_policy }}",
    "negotiation_key": "{{ _negotiation_key }}",
{% if _pam_no_extend %}
    "pam_no_extend": {{ _pam_no_extend }},
{% endif %}
{% if _pam_password_length %}
    "pam_password_length": {{ _pam_password_length }},
{% endif %}
{% if _pam_password_max_time %}
    "pam_password_max_time": {{ _pam_password_max_time }},
{% endif %}
{% if _pam_password_min_time %}
    "pam_password_min_time": {{ _pam_password_min_time }},
{% endif %}
    "plugin_configuration": {{ sc.plugin_configuration() | string | indent }},
    "rule_engine_namespaces": [ "" ],
    "schema_name": "server_config",
    "schema_validation_base_uri": "{{ _schema_validation_base_uri }}",
    "schema_version": "v4",
    "server_control_plane_encryption_algorithm": "{{
        _server_control_plane_encryption_algorithm }}",
    "server_control_plane_encryption_num_hash_rounds": {{
        _server_control_plane_encryption_num_hash_rounds }},
    "server_control_plane_key": "{{ _server_control_plane_key }}",
    "server_control_plane_port": {{ _server_control_plane_port }},
    "server_control_plane_timeout_milliseconds": {{ _server_control_plane_timeout }},
    "server_port_range_end": {{ _server_port_range_end }},
    "server_port_range_start": {{ _server_port_range_start }},
    "xmsg_port": {{ _xmsg_port }},
    "zone_auth_scheme": "{{ _zone_auth_scheme }}",
    "zone_key": "{{ _zone_key }}",
    "zone_name": "{{ _zone_name }}",
    "zone_port": {{ _zone_port }},
    "zone_user": "{{ _zone_user }}"
}
